
.navbar-inverse .navbar-nav > li > a {
    color: #999999;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: cadetblue;
}

#footer_logo
{
    font-size: 15px;
    color: #999999;
    text-align: center;
}
.fon
{
  width: 900px;
  height: 600px;
  background: url(../img/1.jpg);
}